:root {
  --font-en: Lato, sans-serif;
  --font-sans: 'Source Sans Pro', 'Noto Sans SC', sans-serif;
  --font-serif: 'Source Serif Pro', 'Noto Serif SC', serif;
}

body {
  margin: 0;
  overflow: overlay;
  background-color: #eee;
  text-shadow: 0.02em 0.02em 0.05em #9999997f, 0.02em 0.02em 0.1em #9999993f;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 3em;
  font-weight: 100;
  font-family: var(--font-sans);
}

p {
  font-family: var(--font-serif);
}

ul {
  line-height: 2;
}

button {
  border-style: none;
}

.panel {
  width: 50rem;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 30px auto 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%), 0 1px 6px 0 rgb(0 0 0 / 12%);
}
