:root {
  --font-en: Lato, sans-serif;
  --font-sans: 'Source Sans Pro', 'Noto Sans SC', sans-serif;
  --font-serif: 'Source Serif Pro', 'Noto Serif SC', serif;
}

body {
  overflow: overlay;
  background-color: #eee;
}

a {
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  font-family: var(--font-sans);
}

p {
  font-family: var(--font-serif);
}

ul {
  line-height: 2;
}

.panel {
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%), 0 1px 6px 0 rgb(0 0 0 / 12%);
}
